<div class="container">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column">
                <a class=" " aria-current="page" >Shop Gear</a>
                <a class="nav-link" href="#">Categories</a>
                <a class="nav-link" href="#">Brands</a>
                <a class="nav-link" href="#">Shops</a>
                <a class="nav-link" href="#">Deals and Steals</a>
                <a class="nav-link" href="#">Price Drops</a>
                <a class="nav-link" href="#">0% financing</a>
                <a class="nav-link" href="#">News and Popular</a>
                <a class="nav-link" href="#">Handpicked Collections</a>
              </nav>
        </div>
        <div class="col-3">
            <a class=" " aria-current="page" >Sell On Reverb</a>
                <a class="nav-link" href="#">Seller Hub</a>
                <a class="nav-link" href="#">Reverb Payment FAQ</a>
                <a class=" ">Resources</a>
                <a class="nav-link" href="#">Reverb News</a>
                <a class="nav-link" href="#">Price Guide</a>
                <a class="nav-link" href="#">Buying Guides</a>
                <a class="nav-link" href="#">Gift Cards</a>
                <a class="nav-link" href="#">Refer-A-Friend</a>
        </div>
        <div class="col-3">
            <a class=" " aria-current="page" >Sell On Reverb</a>
                <a class="nav-link" href="#">Seller Hub</a>
                <a class="nav-link" href="#">Reverb Payment FAQ</a>
                <a class=" ">Resources</a>
                <a class="nav-link" href="#">Reverb News</a>
                <a class="nav-link" href="#">Price Guide</a>
                <a class="nav-link" href="#">Buying Guides</a>
                <a class="nav-link" href="#">Gift Cards</a>
                <a class="nav-link" href="#">Refer-A-Friend</a>
        </div>
        <div class="col-3">
            <a class=" " aria-current="page" >Sell On Reverb</a>
                <a class="nav-link" href="#">Seller Hub</a>
                <a class="nav-link" href="#">Reverb Payment FAQ</a>
                <a class=" ">Resources</a>
                <a class="nav-link" href="#">Reverb News</a>
                <a class="nav-link" href="#">Price Guide</a>
                <a class="nav-link" href="#">Buying Guides</a>
                <a class="nav-link" href="#">Gift Cards</a>
                <a class="nav-link" href="#">Refer-A-Friend</a>
        </div>
    </div>
</div>