<div class="salebar container justify-content-center">
    <div class="card text-black ">
        <img src="assets/salebanner.jpeg" class="card-img">
        <div class="card-img-overlay pt-5">
            <div class="container d-flex justify-content-start p-4">
            <div class="column col-6 pt-4 ">
                <p class="card-title salebar-toptext">Top Shops: Weekend Sales</p>
                <p class="card-text salebar-title">Up to 25% off at these four top shops</p>
                <a href="#" class="btn sale-button stretched-link">Shop the sales</a>
            </div>
        </div>
        </div>
    </div>
</div>