<div class="salebar container-fluid m-1 justify-content-center">
    <div class="col-12">
    <div class="card text-black">
        <img src="assets/salebanner.jpeg" class="card-img">
        <div class="card-img-overlay">
            <div class="column col-4">
                <p class="card-title salebar-toptext">Top Shops: Weekend Sales</p>
                <p class="card-text salebar-title">Up to 25% off at these four top shops</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
    </div>
    </div>
</div>