<div class="conatiner d-flex justify-content-around mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 card-size border-0">
        <img src="assets/cardR1-Image1.jpeg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title card-toptext">hand picked by Reverb experts</h5>
          <p class="card-text card-bottomtext">Eye caching vintage synths.</p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-size border-0">
        <img src="assets/cardR1-Image2.jpeg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title card-toptext">hand picked by Reverb experts</h5>
          <p class="card-text card-bottomtext ">Deals and Steals </p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-size border-0">
        <img src="assets/cardR1-Image3.jpeg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title card-toptext">Reverb News</h5>
          <p class="card-text card-bottomtext">New gear from PRS & Starlab</p>
        </div>
        
      </div>
    </div>
  </div>
</div>