.card-image {
    height: 250px;
    width: 439px;
}
.card-size {
    width: 439px;
}
.card-toptext {
    font-size: 15px;
    color: rgba(26, 25, 25, 0.815);
}
.card-bottomtext {
    font-size: 20px;
    color: rgba(26, 25, 25, 0.815);
}