<div class="card-group container mt-4 justify-content-between">
    <div class="card">
      <img src="assets/cardR1-Image1.jpeg" class="card-img-top card-image" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/cardR1-Image2.jpeg" class="card-img-top card-image" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text be</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/cardR1-Image3.jpeg" class="card-img-top card-image" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>



  