<div class="container">
    <div class="row">
        learn more about selling on Reverb
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="/assets/learnselling1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Built for Selling Gear</h5>
                <p class="card-text">Created by musicians, Reverb’s 
                    seller tools are designed specifically to make selling instruments seamless.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/learnselling2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Built for Selling Gear</h5>
                <p class="card-text">Created by musicians, Reverb’s 
                    seller tools are designed specifically to make selling instruments seamless.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/learnselling3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Built for Selling Gear</h5>
                <p class="card-text">Created by musicians, Reverb’s 
                    seller tools are designed specifically to make selling instruments seamless.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/learnselling4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Built for Selling Gear</h5>
                <p class="card-text">Created by musicians, Reverb’s 
                    seller tools are designed specifically to make selling instruments seamless.</p>
            </div>
        </div>
    </div>
</div>